@model Factura

@{
    ViewData["Title"] = "Detalles Factura";
}

<h1>Detalles de Factura</h1>

<div>
    <h4>Factura #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Fecha</dt>
        <dd class="col-sm-9">@Model.Fecha.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">Comanda</dt>
        <dd class="col-sm-9">@Model.ComandaId</dd>

        <dt class="col-sm-3">Total</dt>
        <dd class="col-sm-9">@Model.Total.ToString("C")</dd>
    </dl>
</div>

<h4>Detalle</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Plato</th>
            <th>Cantidad</th>
            <th>Precio</th>
            @* <th>Subtotal</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comanda.DetalleComandas)
        {
            <tr>
                <td>@item.Plato?.Nombre</td>
                <td>@item.Cantidad</td>
                <td>@item.Plato?.Precio</td>
                @* <td>@item.Subtotal.ToString("C")</td> *@
            </tr>
        }
    </tbody>
</table>

<div class="mt-3">
    <a asp-action="DescargarPdf" asp-route-id="@Model.Id" class="btn btn-danger" data-voice="Generar pdf">
        Descargar Factura PDF
    </a>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" data-voice="Editar factura @Model.Id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary" data-voice="Volver">Volver a la lista</a>
</div>
