@model IEnumerable<Factura>

@{
    ViewData["Title"] = "Facturas";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <svg width="24" height="24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <use xlink:href="#icon-pencil" />
        </svg>Crear Nueva Factura
    </a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Comanda</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy ")</td>
                <td>@item.ComandaId</td>
                <td>@item.Total.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        <svg width="24" height="24" stroke="currentColor" fill="none" stroke-width="2">
                            <use xlink:href="#icon-list-details" />
                        </svg>Detalles
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        <svg width="24" height="24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="#icon-edit" />
                        </svg>Editar
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <svg width="24" height="24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="#icon-pencil-x" />
                        </svg>Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

